# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [35]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [36]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("./Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [37]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [38]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ["EIN", "NAME"])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### * Look for features columns that could be confusing the model by checking their value counts to look for imbalances

In [73]:
applicant_data_df["SPECIAL_CONSIDERATIONS"].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [74]:
applicant_data_df["STATUS"].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [77]:
applicant_data_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [78]:
applicant_data_df["AFFILIATION"].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [80]:
applicant_data_df["USE_CASE"].value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [81]:
applicant_data_df["ORGANIZATION"].value_counts()

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [82]:
applicant_data_df["INCOME_AMT"].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [83]:
applicant_data_df["ASK_AMT"].value_counts()

5000       25398
10478          3
15583          3
6725           3
63981          3
           ...
772556         1
70103          1
27096          1
25049          1
1138700        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [52]:
# View number of columns we are starting with
applicant_data_df.shape

(34299, 10)

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [40]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [41]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [42]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [142]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
display(encoded_df.head())
display(encoded_df.tail())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [44]:
# Create a list of numerical variables 
numerical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "int64"].index)

# Display the categorical variables list
numerical_variables

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [45]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [46]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([numerical_variables_df, encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [47]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [93]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns="IS_SUCCESSFUL")

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [49]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [50]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [84]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [85]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [54]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [56]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [57]:
# Create the Sequential model instance
nn = Sequential()

In [58]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [60]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [61]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [62]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 58)                6786
_________________________________________________________________
dense_1 (Dense)              (None, 29)                1711
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 30
=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [63]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics="accuracy")

In [64]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 793us/step - loss: 0.6103 - accuracy: 0.6969
Epoch 2/50
804/804 [==============================] - 1s 789us/step - loss: 0.5537 - accuracy: 0.7302
Epoch 3/50
804/804 [==============================] - 1s 754us/step - loss: 0.5477 - accuracy: 0.7321
Epoch 4/50
804/804 [==============================] - 1s 747us/step - loss: 0.5482 - accuracy: 0.7343
Epoch 5/50
804/804 [==============================] - 1s 745us/step - loss: 0.5438 - accuracy: 0.7358
Epoch 6/50
804/804 [==============================] - 1s 733us/step - loss: 0.5415 - accuracy: 0.7355
Epoch 7/50
804/804 [==============================] - 1s 770us/step - loss: 0.5442 - accuracy: 0.7323
Epoch 8/50
804/804 [==============================] - 1s 753us/step - loss: 0.5445 - accuracy: 0.7358
Epoch 9/50
804/804 [==============================] - 1s 781us/step - loss: 0.5431 - accuracy: 0.7364
Epoch 10/50
804/804 [==============================] - 1s 774us/step - loss: 0.5411 - accuracy: 0.7361
Epoch 11/50
804/804 [==============================] - 1s 781us/step - loss: 0.5397 - accuracy: 0.7372
Epoch 12/50
804/804 [==============================] - 1s 792us/step - loss: 0.5403 - accuracy: 0.7377
Epoch 13/50
804/804 [==============================] - 1s 783us/step - loss: 0.5385 - accuracy: 0.7366
Epoch 14/50
804/804 [==============================] - 1s 781us/step - loss: 0.5368 - accuracy: 0.7399
Epoch 15/50
804/804 [==============================] - 1s 798us/step - loss: 0.5377 - accuracy: 0.7368
Epoch 16/50
804/804 [==============================] - 1s 811us/step - loss: 0.5384 - accuracy: 0.7375
Epoch 17/50
804/804 [==============================] - 1s 789us/step - loss: 0.5340 - accuracy: 0.7413
Epoch 18/50
804/804 [==============================] - 1s 802us/step - loss: 0.5362 - accuracy: 0.7397
Epoch 19/50
804/804 [==============================] - 1s 771us/step - loss: 0.5295 - accuracy: 0.7442
Epoch 20/50
804/804 [==============================] - 1s 768us/step - loss: 0.5383 - accuracy: 0.7378
Epoch 21/50
804/804 [==============================] - 1s 768us/step - loss: 0.5358 - accuracy: 0.7393
Epoch 22/50
804/804 [==============================] - 1s 803us/step - loss: 0.5367 - accuracy: 0.7385
Epoch 23/50
804/804 [==============================] - 1s 770us/step - loss: 0.5303 - accuracy: 0.7437
Epoch 24/50
804/804 [==============================] - 1s 772us/step - loss: 0.5354 - accuracy: 0.7386
Epoch 25/50
804/804 [==============================] - 1s 768us/step - loss: 0.5392 - accuracy: 0.7386
Epoch 26/50
804/804 [==============================] - 1s 768us/step - loss: 0.5369 - accuracy: 0.7399
Epoch 27/50
804/804 [==============================] - 1s 796us/step - loss: 0.5351 - accuracy: 0.7382
Epoch 28/50
804/804 [==============================] - 1s 774us/step - loss: 0.5360 - accuracy: 0.7355
Epoch 29/50
804/804 [==============================] - 1s 786us/step - loss: 0.5364 - accuracy: 0.7364
Epoch 30/50
804/804 [==============================] - 1s 803us/step - loss: 0.5339 - accuracy: 0.7386
Epoch 31/50
804/804 [==============================] - 1s 776us/step - loss: 0.5323 - accuracy: 0.7412
Epoch 32/50
804/804 [==============================] - 1s 787us/step - loss: 0.5369 - accuracy: 0.7374
Epoch 33/50
804/804 [==============================] - 1s 782us/step - loss: 0.5359 - accuracy: 0.7380
Epoch 34/50
804/804 [==============================] - 1s 855us/step - loss: 0.5317 - accuracy: 0.7398
Epoch 35/50
804/804 [==============================] - 1s 775us/step - loss: 0.5300 - accuracy: 0.7405
Epoch 36/50
804/804 [==============================] - 1s 795us/step - loss: 0.5331 - accuracy: 0.7402
Epoch 37/50
804/804 [==============================] - 1s 782us/step - loss: 0.5345 - accuracy: 0.7393
Epoch 38/50
804/804 [==============================] - 1s 767us/step - loss: 0.5273 - accuracy: 0.7433
Epoch 39/50
804/804 [==============================] - 1s 772us/step - loss: 0.5412 - accuracy: 0.7318
Epoch 40/50
804/804 [==============================] - 1s 782us/step - loss: 0.5321 - accuracy: 0.7405
Epoch 41/50
804/804 [==============================] - 1s 786us/step - loss: 0.5324 - accuracy: 0.7396
Epoch 42/50
804/804 [==============================] - 1s 792us/step - loss: 0.5313 - accuracy: 0.7415
Epoch 43/50
804/804 [==============================] - 1s 783us/step - loss: 0.5330 - accuracy: 0.7383
Epoch 44/50
804/804 [==============================] - 1s 799us/step - loss: 0.5356 - accuracy: 0.7403
Epoch 45/50
804/804 [==============================] - 1s 817us/step - loss: 0.5328 - accuracy: 0.7380
Epoch 46/50
804/804 [==============================] - 1s 772us/step - loss: 0.5299 - accuracy: 0.7414
Epoch 47/50
804/804 [==============================] - 1s 781us/step - loss: 0.5272 - accuracy: 0.7432
Epoch 48/50
804/804 [==============================] - 1s 773us/step - loss: 0.5267 - accuracy: 0.7447
Epoch 49/50
804/804 [==============================] - 1s 801us/step - loss: 0.5281 - accuracy: 0.7419
Epoch 50/50
804/804 [==============================] - 1s 818us/step - loss: 0.5329 - accuracy: 0.7385

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [69]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss:.2f}%, Accuracy: {model_accuracy:.2f}%")

268/268 - 0s - loss: 0.5541 - accuracy: 0.7310
Loss: 0.55%, Accuracy: 0.73%

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [70]:
# Set the model's file path
file_path = Path("./Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1 - Remove "SPECIAL_CONSIDERATIONS" and "STATUS" columns from encoded DataFrame

In [90]:
# Define the target set y using the IS_SUCCESSFUL column
y_A1 = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y_A1[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [92]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X_A1 = encoded_df.drop(columns=["IS_SUCCESSFUL", "SPECIAL_CONSIDERATIONS_N", "SPECIAL_CONSIDERATIONS_Y", "STATUS"])

# Review the features DataFrame
X_A1.head()

,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [94]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train_A1, X_test_A1, y_train_A1, y_test_A1 = train_test_split(X_A1, y_A1, random_state=1)

In [95]:
# Create a StandardScaler instance
scaler_A1 = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler_A1 = scaler_A1.fit(X_train_A1)

# Fit the scaler to the features training dataset
X_train_scaled_A1 = X_scaler_A1.transform(X_train_A1)
X_test_scaled_A1 = X_scaler_A1.transform(X_test_A1)

In [97]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train_A1.iloc[0])

# Review the number of features
number_input_features

113

In [98]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [99]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

57

In [100]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

29

In [101]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [102]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 57)                6498
_________________________________________________________________
dense_4 (Dense)              (None, 29)                1682
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 30
=================================================================
Total params: 8,210
Trainable params: 8,210
Non-trainable params: 0
_________________________________________________________________

In [103]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics="accuracy")

In [104]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled_A1, y_train_A1, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 779us/step - loss: 0.5962 - accuracy: 0.7041
Epoch 2/50
804/804 [==============================] - 1s 764us/step - loss: 0.5565 - accuracy: 0.7246
Epoch 3/50
804/804 [==============================] - 1s 834us/step - loss: 0.5508 - accuracy: 0.7282
Epoch 4/50
804/804 [==============================] - 1s 896us/step - loss: 0.5513 - accuracy: 0.7312
Epoch 5/50
804/804 [==============================] - 1s 901us/step - loss: 0.5486 - accuracy: 0.7326
Epoch 6/50
804/804 [==============================] - 1s 882us/step - loss: 0.5405 - accuracy: 0.7383
Epoch 7/50
804/804 [==============================] - 1s 961us/step - loss: 0.5410 - accuracy: 0.7343
Epoch 8/50
804/804 [==============================] - 1s 867us/step - loss: 0.5435 - accuracy: 0.7350
Epoch 9/50
804/804 [==============================] - 1s 753us/step - loss: 0.5451 - accuracy: 0.7319
Epoch 10/50
804/804 [==============================] - 1s 842us/step - loss: 0.5419 - accuracy: 0.7354
Epoch 11/50
804/804 [==============================] - 1s 796us/step - loss: 0.5427 - accuracy: 0.7362
Epoch 12/50
804/804 [==============================] - 1s 831us/step - loss: 0.5421 - accuracy: 0.7345
Epoch 13/50
804/804 [==============================] - 1s 959us/step - loss: 0.5332 - accuracy: 0.7434
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7364
Epoch 15/50
804/804 [==============================] - 1s 869us/step - loss: 0.5419 - accuracy: 0.7368
Epoch 16/50
804/804 [==============================] - 1s 856us/step - loss: 0.5394 - accuracy: 0.7357
Epoch 17/50
804/804 [==============================] - 1s 766us/step - loss: 0.5392 - accuracy: 0.7377
Epoch 18/50
804/804 [==============================] - 1s 771us/step - loss: 0.5338 - accuracy: 0.7384
Epoch 19/50
804/804 [==============================] - 1s 751us/step - loss: 0.5328 - accuracy: 0.7411
Epoch 20/50
804/804 [==============================] - 1s 737us/step - loss: 0.5308 - accuracy: 0.7429
Epoch 21/50
804/804 [==============================] - 1s 832us/step - loss: 0.5421 - accuracy: 0.7349
Epoch 22/50
804/804 [==============================] - 1s 914us/step - loss: 0.5320 - accuracy: 0.7425
Epoch 23/50
804/804 [==============================] - 1s 825us/step - loss: 0.5420 - accuracy: 0.7332
Epoch 24/50
804/804 [==============================] - 1s 875us/step - loss: 0.5357 - accuracy: 0.7403
Epoch 25/50
804/804 [==============================] - 1s 993us/step - loss: 0.5377 - accuracy: 0.7330
Epoch 26/50
804/804 [==============================] - 1s 876us/step - loss: 0.5329 - accuracy: 0.7432
Epoch 27/50
804/804 [==============================] - 1s 979us/step - loss: 0.5384 - accuracy: 0.7398
Epoch 28/50
804/804 [==============================] - 1s 815us/step - loss: 0.5394 - accuracy: 0.7343
Epoch 29/50
804/804 [==============================] - 1s 899us/step - loss: 0.5293 - accuracy: 0.7446
Epoch 30/50
804/804 [==============================] - 1s 873us/step - loss: 0.5313 - accuracy: 0.7425
Epoch 31/50
804/804 [==============================] - 1s 875us/step - loss: 0.5333 - accuracy: 0.7416
Epoch 32/50
804/804 [==============================] - 1s 945us/step - loss: 0.5305 - accuracy: 0.7413
Epoch 33/50
804/804 [==============================] - 1s 845us/step - loss: 0.5298 - accuracy: 0.7437
Epoch 34/50
804/804 [==============================] - 1s 871us/step - loss: 0.5359 - accuracy: 0.7342
Epoch 35/50
804/804 [==============================] - 1s 861us/step - loss: 0.5333 - accuracy: 0.7438
Epoch 36/50
804/804 [==============================] - 1s 830us/step - loss: 0.5402 - accuracy: 0.7348
Epoch 37/50
804/804 [==============================] - 1s 854us/step - loss: 0.5363 - accuracy: 0.7376
Epoch 38/50
804/804 [==============================] - 1s 850us/step - loss: 0.5351 - accuracy: 0.7386
Epoch 39/50
804/804 [==============================] - 1s 833us/step - loss: 0.5349 - accuracy: 0.7388
Epoch 40/50
804/804 [==============================] - 1s 824us/step - loss: 0.5299 - accuracy: 0.7445
Epoch 41/50
804/804 [==============================] - 1s 883us/step - loss: 0.5324 - accuracy: 0.7398
Epoch 42/50
804/804 [==============================] - 1s 950us/step - loss: 0.5339 - accuracy: 0.7393
Epoch 43/50
804/804 [==============================] - 1s 906us/step - loss: 0.5290 - accuracy: 0.7452
Epoch 44/50
804/804 [==============================] - 1s 835us/step - loss: 0.5267 - accuracy: 0.7446
Epoch 45/50
804/804 [==============================] - 1s 762us/step - loss: 0.5256 - accuracy: 0.7453
Epoch 46/50
804/804 [==============================] - 1s 908us/step - loss: 0.5237 - accuracy: 0.7472
Epoch 47/50
804/804 [==============================] - 1s 808us/step - loss: 0.5368 - accuracy: 0.7380
Epoch 48/50
804/804 [==============================] - 1s 795us/step - loss: 0.5273 - accuracy: 0.7428
Epoch 49/50
804/804 [==============================] - 1s 733us/step - loss: 0.5366 - accuracy: 0.7390
Epoch 50/50
804/804 [==============================] - 1s 729us/step - loss: 0.5295 - accuracy: 0.7423

In [119]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled_A1, y_test_A1, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss:.2f}%, Accuracy: {model_accuracy:.2f}%")

268/268 - 0s - loss: 0.5564 - accuracy: 0.7269
Loss: 0.56%, Accuracy: 0.73%

In [120]:
# Set the model's file path
file_path_A1 = Path("./Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn.save(file_path_A1)

#### Alternative Model 2

In [121]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [122]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [123]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [124]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A2

29

In [125]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = (hidden_nodes_layer2_A2 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A2

15

In [126]:
# Define the number of hidden nodes for the fourth hidden layer
hidden_nodes_layer4_A2 = (hidden_nodes_layer3_A2 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer4_A2

8

In [127]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [128]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

# Fourth hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer4_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_12 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_13 (Dense)             (None, 15)                450
_________________________________________________________________
dense_14 (Dense)             (None, 8)                 128
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 9
=================================================================
Total params: 9,084
Trainable params: 9,084
Non-trainable params: 0
_________________________________________________________________

In [129]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics="accuracy")

In [130]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6035 - accuracy: 0.6950
Epoch 2/50
804/804 [==============================] - 1s 886us/step - loss: 0.5545 - accuracy: 0.7275
Epoch 3/50
804/804 [==============================] - 1s 938us/step - loss: 0.5429 - accuracy: 0.7354
Epoch 4/50
804/804 [==============================] - 1s 901us/step - loss: 0.5435 - accuracy: 0.7348
Epoch 5/50
804/804 [==============================] - 1s 900us/step - loss: 0.5449 - accuracy: 0.7353
Epoch 6/50
804/804 [==============================] - 1s 969us/step - loss: 0.5475 - accuracy: 0.7309
Epoch 7/50
804/804 [==============================] - 1s 946us/step - loss: 0.5427 - accuracy: 0.7339
Epoch 8/50
804/804 [==============================] - 1s 983us/step - loss: 0.5385 - accuracy: 0.7400
Epoch 9/50
804/804 [==============================] - 1s 913us/step - loss: 0.5332 - accuracy: 0.7391
Epoch 10/50
804/804 [==============================] - 1s 883us/step - loss: 0.5355 - accuracy: 0.7403
Epoch 11/50
804/804 [==============================] - 1s 920us/step - loss: 0.5379 - accuracy: 0.7393
Epoch 12/50
804/804 [==============================] - 1s 953us/step - loss: 0.5393 - accuracy: 0.7374
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7345
Epoch 14/50
804/804 [==============================] - 1s 967us/step - loss: 0.5396 - accuracy: 0.7356
Epoch 15/50
804/804 [==============================] - 1s 916us/step - loss: 0.5400 - accuracy: 0.7372
Epoch 16/50
804/804 [==============================] - 1s 967us/step - loss: 0.5357 - accuracy: 0.7411
Epoch 17/50
804/804 [==============================] - 1s 938us/step - loss: 0.5402 - accuracy: 0.7356
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7355
Epoch 19/50
804/804 [==============================] - 1s 988us/step - loss: 0.5346 - accuracy: 0.7410
Epoch 20/50
804/804 [==============================] - 1s 965us/step - loss: 0.5371 - accuracy: 0.7389
Epoch 21/50
804/804 [==============================] - 1s 983us/step - loss: 0.5355 - accuracy: 0.7384
Epoch 22/50
804/804 [==============================] - 1s 914us/step - loss: 0.5376 - accuracy: 0.7362
Epoch 23/50
804/804 [==============================] - 1s 947us/step - loss: 0.5279 - accuracy: 0.7442
Epoch 24/50
804/804 [==============================] - 1s 960us/step - loss: 0.5356 - accuracy: 0.7382
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7377
Epoch 26/50
804/804 [==============================] - 1s 989us/step - loss: 0.5343 - accuracy: 0.7389
Epoch 27/50
804/804 [==============================] - 1s 956us/step - loss: 0.5356 - accuracy: 0.7373
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7416
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7378
Epoch 30/50
804/804 [==============================] - 1s 937us/step - loss: 0.5337 - accuracy: 0.7376
Epoch 31/50
804/804 [==============================] - 1s 931us/step - loss: 0.5354 - accuracy: 0.7366
Epoch 32/50
804/804 [==============================] - 1s 978us/step - loss: 0.5357 - accuracy: 0.7369
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7428
Epoch 34/50
804/804 [==============================] - 1s 996us/step - loss: 0.5327 - accuracy: 0.7388
Epoch 35/50
804/804 [==============================] - 1s 975us/step - loss: 0.5324 - accuracy: 0.7377
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7375
Epoch 37/50
804/804 [==============================] - 1s 966us/step - loss: 0.5280 - accuracy: 0.7432
Epoch 38/50
804/804 [==============================] - 1s 929us/step - loss: 0.5340 - accuracy: 0.7393
Epoch 39/50
804/804 [==============================] - 1s 955us/step - loss: 0.5355 - accuracy: 0.7380
Epoch 40/50
804/804 [==============================] - 1s 970us/step - loss: 0.5371 - accuracy: 0.7358
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7376
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7416
Epoch 43/50
804/804 [==============================] - 1s 931us/step - loss: 0.5267 - accuracy: 0.7457
Epoch 44/50
804/804 [==============================] - 1s 904us/step - loss: 0.5321 - accuracy: 0.7379
Epoch 45/50
804/804 [==============================] - 1s 961us/step - loss: 0.5289 - accuracy: 0.7426
Epoch 46/50
804/804 [==============================] - 1s 955us/step - loss: 0.5320 - accuracy: 0.7424
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7425
Epoch 48/50
804/804 [==============================] - 1s 997us/step - loss: 0.5338 - accuracy: 0.7372
Epoch 49/50
804/804 [==============================] - 1s 972us/step - loss: 0.5338 - accuracy: 0.7400
Epoch 50/50
804/804 [==============================] - 1s 992us/step - loss: 0.5320 - accuracy: 0.7392

In [132]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss:.2f}%, Accuracy: {model_accuracy:.2f}%")

268/268 - 0s - loss: 0.5597 - accuracy: 0.7301
Loss: 0.56%, Accuracy: 0.73%

In [133]:
# Set the model's file path
file_path_A2 = Path("./Resources/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn.save(file_path_A2)

#### Alternative Model 3

In [135]:
# Change the number of epochs on the original model
fit_model_3 = nn.fit(X_train_scaled, y_train, epochs=200, verbose=0)

In [136]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss:.2f}%, Accuracy: {model_accuracy:.2f}%")

268/268 - 0s - loss: 0.5792 - accuracy: 0.7297
Loss: 0.58%, Accuracy: 0.73%

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [137]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss:.2f}%, Accuracy: {model_accuracy:.2f}%")

Original Model Results
268/268 - 0s - loss: 0.5792 - accuracy: 0.7297
Loss: 0.58%, Accuracy: 0.73%

In [138]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled_A1, y_test_A1, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss:.2f}%, Accuracy: {model_accuracy:.2f}%")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5564 - accuracy: 0.7269
Loss: 0.56%, Accuracy: 0.73%

In [139]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss:.2f}%, Accuracy: {model_accuracy:.2f}%")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5597 - accuracy: 0.7301
Loss: 0.56%, Accuracy: 0.73%

In [140]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss:.2f}%, Accuracy: {model_accuracy:.2f}%")

Alternative Model 3 Results
268/268 - 0s - loss: 0.5792 - accuracy: 0.7297
Loss: 0.58%, Accuracy: 0.73%

### Step 3: Save each of your alternative models as an HDF5 file.

This was done above under each alternative model